.navbar-ul {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  background-color: skyblue;
  padding: 10px;
  margin: 0;
}

.navbar-ul li {
  list-style: none;
}

.navbar-ul li a {
  text-decoration: none;
}

.navbar-right {
  text-align: right;
}

.nav-ul {
  display: flex;
  gap: 40px;
  margin: 20px;
  justify-content: flex-end;
  background-color: skyblue;
  padding: 10px;
  margin: 0;
}

.nav-ul li {
  list-style: none;
}
.nav-ul li a {
    text-decoration: none;
  }
